.page-loader {
    position: fixed;
    z-index: 200;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    display: block
}

.page-loader .fa {
    font-size: 2.5rem
}

.page-loader, .page-loader.visible {
    -webkit-transition: .6s;
    -ms-transition: .6s;
    -moz-transition: .6s;
    transition: .6s;
    opacity: 1;
    visibility: visible
}

.page-loader.p-hidden {
    visibility: hidden;
    opacity: 0
}

.page-loader div {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #1d1d1d;
    margin-top: -25px;
    display: block
}

.page-loader div .icon {
    display: inline-block;
    margin-left: -20px;
    left: 50%;
    width: 0;
    height: 40px;
    content: "";
    background: #000;
    border-radius: 100px;
    border: 20px solid #fff;
    border-top-color: rgba(0, 0, 0, .9);
    border-bottom-color: rgba(0, 0, 0, .9)
}

.page-loader div p {
    margin-top: 100px;
    font-size: 14px;
    color: #555;
    letter-spacing: 1em;
    padding-left: 1em;
    text-transform: uppercase;
    font-family: roboto, helvetica, sans-serif;
    font-weight: 700
}
