.grid figure#test {
position: relative;
float: left;
overflow: hidden;
margin: 10px 1%;
min-width: 376px;
max-width: 480px;
max-height: 360px;
width: 48%;
background: #3085a3;
text-align: center;
cursor: pointer;
}

.hidden{
display: none;
}

.grid figure#test h2,p{
color : white !important;
}
#show-more-article{
padding: 5px 15px;
border: 3px solid black;
color: black;
}
#show-more-article:hover{
color: white;
background-color: black;
text-decoration: none;
}


.btn-more-article{
margin: 0 auto;
display:block;
margin-bottom:20px;
}
body{
background-color: transparent;

}



@media only screen and (min-width: 736px) and (max-width: 964px) {
  .btn-more-article{
      margin-left: 25%;
  }
}

@media(max-width:736px) {
  .btn-more-article{
    margin-left: 25%;

    }
}
