.padding-cover{
padding-left: 60px !important;
padding-right: 60px !important;
}
.media{
  margin-bottom: 30px;
}
.media .avatar {
  width: 45px;
  height: 50px;
}

.media h5{
  font-size: 15px;
}
.media span {
font-size: 12px;
}
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

#tags{
  background: rgba(0, 0, 0, .3) none repeat scroll 0% 0%;
padding: 5px 10px;
border-radius: 3px;
font-size: 15px;
margin-right: 5px;
}

.respense{
  position: absolute;
  left: 95%;
  color: black;
}

.show-more-replay{
  position: absolute;
  left: 93%;
  color: white;
  font-size: 5px;
  font-size: 12px;
  margin-left: -60px;
  margin-top: 20px;
  color: black;
}
#article-comments .comments{
  padding: 15px;
  border: 1px solid;
}

.c-replay{
  border-bottom: 1px solid;
}
.button{
    padding: .75rem 1.5rem  !important;
    cursor: pointer !important;
    min-height: 46px !important;
    line-height: 1.2 !important;
    border-radius: 0 !important;
}
.btn-white {
  color: Black !important;
  transition: .3s background-color !important;
  background: 0 0 !important;
  line-height: 1.25 !important;
  display: inline-flex !important;
  justify-content: center !important;
  align-items: center !important;
  position: relative !important;
  letter-spacing: .2em !important;
}

a.btn-white:hover{
  border: none;
  background-color: transparent;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
 position: relative;
 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
 display: none;
 position: absolute;
 background-color: #f1f1f1;
 min-width: 160px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 left: -68px;
 top: 45px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 7px 0px;
  text-decoration: none;
  display: block;
  font-size: 15px;
  text-align: center;
}

.media-body span.no-replies {
  font-size: 12px;
  margin-left: 25px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


body{
  background-color: rgba(0, 0, 0, 0.1) !important;
  color: black !important;
}



.btn.btn-info:hover{
  box-shadow: 0 2px 2px 0 rgba(251,201,9,.14), 0 3px 1px -2px rgba(251,201,9,.2), 0 1px 5px 0 rgba(251,201,9,.12) !important;
}
.detail-main{
margin-right: 200px ;
margin-left: 200px ;
margin-top: 90px ;
}


.title-size{
font-size:40px !important;
}
.description-size{
  font-size:25px !important;
}

@media only screen and (min-width: 736px) and (max-width: 964px) {
    .detail-main {
        margin-right: 0;
        margin-left: 0;
        margin-top: 90px;
    }
    .show-more-replay {

    left: 94%;
  }


}

@media(max-width:736px) {
  .padding-cover{
  padding-left: 15px !important;
  padding-right: 15px !important;
  }
  .title-size{
  font-size:30px !important;
  }
  .description-size{
    font-size:20px !important;
  }
    .detail-main {
        margin-right: 0;
        margin-left: 0;
        margin-top: 25px;
    }

    .show-more-replay {
    left: 88%;
  }

  .respense {
    position: absolute;
    left: 90%;
  }
}

.user-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.user-profile span {
    font-size: 12px;
    z-index: 999;
}

.user-profile img {
    display: block;
    margin: 5px auto;
}
.page-header-alpha .navbar-mainmenu .nav-item a {
  z-index: 1;
    color: black;
    -webkit-transition: .3s;
    transition: .3s;
    font-size: 64px
}

.page-header-alpha .navbar-mainmenu .nav-item a:hover {
    color: #3346d1
}
.navbar {
z-index: 999 !important;
}

.pr-100{
right: 100px !important;
}

@media only screen and (min-width: 768px) and (max-width: 964px) {
.pr-100{
right: 95px !important;
}
.dropdown-content {left: -115px;}
}
@media(max-width:736px) {
  .pr-100{
  right: 65px !important;
  }

  .dropdown-content {left: -115px;}
}
