


@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helvetica.ttf');
}

.show-form-input{
  display: block;
}
.hide-form-input{
  display:none;
}
.form-group{
  color: black;
  font-family: 'Roboto', sans-serif;
}
.error{
  color: red !important;
  font-size: 13px !important;
  margin: 0;
}
.suc{
    color: green !important;
    font-size: 13px !important;
    margin: 0;
}
  .index-title{
    /* color: black;
    z-index: 1;
    position: absolute;
    bottom: 7px;
    left: 279px; */
    margin-top: -254px;
margin-left: 10%;
  }
  .index-title h1{
    font-family: 'Archivo Black', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    font-size: 9rem;
    font-weight: bold;
    color: #0E0F0F;
    /* color: #FCD23D; */
    /* background-color: black; */
    letter-spacing: -8px;
  }


  a.button{
    text-decoration: none;

  }

  a.button span{
  margin-right: 8px;

  }

.button1{
  margin-top: 60px;
  line-height: 1.25;
    transition: .3s background-color;
  text-transform: uppercase;
  z-index: 999;
  font-family: 'Helvetica';
  padding: 7px 27px;
  border: 3px solid black;
  text-align: center;
  letter-spacing: .2em;
  color: black;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
a.button1:hover{
  text-decoration: none;
  color: white;
  background-color: black;
}
button.button1{
  margin-top: 15px !important;
  background-color: white;
}
button.button1:hover{
  text-decoration: none;
  color: white;
  background-color: black !important;
}
.button{
  text-transform: uppercase;
  z-index: 999;
  font-family: 'Helvetica';
  padding: 10px 15px;
  border: 3px solid black;
  text-align: center;
  color: black;
  position: absolute;
  transform: rotate(90deg);
  }
  .right{
    top: 50%;
    right: 100px;
  }
  .left{
    top: 50%;
    left: 100px;
  }

.button img{

  width: 40px;
}

.typed-cursor{


  font-weight: normal;
  color: black;
  font-family: initial;
  font-size: 119px;
  vertical-align: top;
  display: none;

}

.section-home-title p{
  color: black;
  text-transform: uppercase;
  padding: 0px;
  margin: 0px;
  font-family: 'Helvetica';

}

.servicesDesc {
  color: black;
}

.servicesTitles {
  color : #ffd600;
}
.section-home-title {
  color: #0E0F0F;

  position: absolute;
  padding: 5px 15px;
  top: 15px;
  left: 50%;
}
.section-home-title:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 15px;
  top: -2px;
  left: -2px;

  border-left: 3px solid #0E0F0F;
  border-top: 3px solid #0E0F0F;
}
.section-home-title:after {
  position: absolute;
  content: "";
  width: 40px;
  height: 15px;
  right: -2px;
  bottom: -2px;

  border-right: 3px solid #0E0F0F;
  border-bottom: 3px solid #0E0F0F;
}

.white-section h2,.white-section p{
    color: black;
}
.white-section h4{
  color: #ffd600;
}


input,textarea{
  color: black;
}

label{
  color: black !important;
  font-family: 'Roboto', sans-serif;
}
/* .modal {
   padding-right: 0px !important;
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: auto;
  outline: 0;

} */

body{
     padding-right: 0px !important;
}

.white-section > h4 > img{
  width: 50%;
}

.container-padding-left{
  padding-left: 130px !important;
}

.col-padding-left{
   padding-left: 70px!important;
}

.row-position{
  position:absolute;
  top:30px
}
.img-width{
  width: 100%;
}

.hide-image{
  display: none;
}



.btn-outline-perso {
  font-family: 'Helvetica';
    color: #1d1d1d;
    /* border: 1px solid rgba(255, 255, 255, .2); */
    border-color: #fff;
    transition: .3s background-color;
    background: #fff;
    line-height: 1.25;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    letter-spacing: .2em;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2), 0 0 5px rgba(0, 0, 0, .2)
}
.btn-outline-perso.active, .btn-outline-perso:active {
    color: #1d1d1d;
    border-color: #1d1d1d;
    background-color: transparent
}

.btn-outline-perso:hover, .btn-outline-perso:focus {

  color: #fff;
  border: 1px solid transparent;
  background-color: #3346d1;
}

.btn-outline-perso.disabled, .btn-outline-perso:disabled {
    color: #fff;
    opacity: .7;
    background-color: transparent
}

.btn-outline-perso:hover, .btn-outline-perso:focus {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 2px rgba(0, 0, 0, .2)
}















/**********************************************/

@media only screen and (min-width: 768px) and (max-width: 964px) {
  .col-padding-left{
     padding-left: 0px!important;
  }

  .container-padding-left{
    padding-left: 0px !important;
  }
  .show-image{
    display: none;
  }
  .right{
    display: none;
  }
  .left{
    color: red;
    display: none;
  }

.index-title {
    display: none;
  }

  .hide-image{
    display: block;
  }
  .img-width{

    margin-top: 15px;
  }
  .section-home-title{
    display: none;
  }

  .hide-image .button1{

    z-index: 999;
    margin-top: 650px ;
  }

  #down,#arrow-down-mobile{
    margin-left: -130px;
  }



  #qmenu{
    display: none;
  }
  .l-portfolio{
    display: block;
  }

  .flip-card {
    width: auto !important;
  }
}


@media(max-width:767px) {

  .carousel-swiper-beta .items-button.bottom {
    bottom: 115px;
  }
  .l-portfolio{
    display: none;
  }
  .col-padding-left {
    padding-left: 0px !important;
}
  .container-padding-left{
    padding-left: 0px !important;
  }
  .show-image{
    display: none !important;
  }
  .right{
    display: none;
  }
  .left{
    color: red;
    display: none;
  }

.index-title {
    display: none;
  }

  .hide-image{
    display: block;
  }
  .img-width{

    margin-top: 15px;
  }
  .section-home-title{
    display: none;
  }

  .hide-image .button1{
    margin-top: 370px;
    z-index: 999;
  }
  #down,#arrow-down-mobile{
    margin-left: 0px;
  }
.navbar-mainmenu{
  display: none;
}

.img-frame-normal .legend {
  visibility: visible;
  opacity: 1;
}

.flip-card {

  width: auto !important;
}
}

@media(max-width:600px) {
  .modal {
    top: 2%;
  }
}
