a {
    color: #3346d1
}

a:hover {
    color: rgba(51, 70, 209, .8)
}

.page-header-alpha .navbar-mainmenu .nav-item a:hover {
    color: #3346d1
}

.btn-white {
    color: #fff;
    border: 1px solid transparent;
    background-color: #3346d1
}

.btn-white:hover {
    background-color: rgba(51, 70, 209, .8);
    color: #fff
}

.btn-outline-primary {
    color: #3346d1;
    border-color: currentColor
}

.btn-outline-primary:hover, .btn-outline-primary:focus {
    color: rgba(51, 70, 209, .5);
    border-color: currentColor
}

.btn-transp-arrow.btn-primary.active, .btn-transp-arrow.btn-primary:active, .btn-transp-arrow.btn-primary:hover {
    background-color: rgba(77, 77, 77, .05);
    color: #8b8b8b;
    -webkit-box-shadow: none;
    box-shadow: none
}

.form-container-transparent.form-container-white .form-desc h4 {
    color: #fff
}

.form-container-transparent.form-container-white .form-input label {
    color: #fff
}

.form-control-outline, .form-control-line {
    border-color: black
}

.form-control-outline:focus, .form-control-line:focus {
    border-color: #adadad
}

.page-cover:after {
    content: "";
    /* background: -webkit-gradient(linear, right top, left top, from(#3346d1), to(#350034)); */
  /* background:  rgba(239,209,14,1); */
  /* background: -webkit-linear-gradient(bottom left, rgba(254,252,234,1) 0%, rgba(239,209,14,1) 100%);
  background: -o-linear-gradient(bottom left, rgba(254,252,234,1) 0%, rgba(239,209,14,1) 100%);
  background: linear-gradient(to top right, rgba(254,252,234,1) 0%, rgba(239,209,14,1) 100%); */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: .7
}
