/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
} */


/* Projects */
/* .projects-wrapper { */
  /* background: transparent url("../img/projects_main_bg.jpg") repeat-y center top; */
  /* padding: 20px;
  text-align: center;
  min-height: 100vh; */
/* } */

/* .projects-list {
  margin: auto;
  left: 7px;
}

.project-item {
  width: 20%;
  margin-bottom: 15px;
  position: relative;

  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0, .5);
  box-shadow: 2px 2px 5px rgba(0,0,0, .5);
}

.project-item img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

.filters-list {
  border: 1px solid rgba(197, 32, 56, 0.5);
  background-color: rgba(255, 255, 255, .5);
  padding: 5px;
  display: inline-block;
  text-align: center;
  margin-bottom: 25px;
}

.filters-list li {
  font-family: sans-serif;
  display: inline-block;
  background-color: rgba(255, 255, 255, .75);
  padding: 10px;
  border: 1px solid #ddd;
  cursor: pointer;

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.filters-list li:hover,
.filters-list li.active {
  background-color: rgba(255, 255, 255, 1);
  border-color: #000;
} */
